<section class="pubic-wrapper">
   <h1>Public Recipes</h1>
   <br>
   <% @public_recipes.each_with_index do |recipe, index| %>
      <div class= "public-container">
        <div>
           <h2 class: "recipe-link"><%= link_to user_recipe_path(recipe.user, recipe) do %></h2>
                  <h3><%= recipe.name %></h3>
               <% end %>
            <p><%= "By: #{ recipe.user.name}" %></p>   
        </div>
        <div>
           <p>Total food items: <%= recipe.recipe_foods.count %></p>
        </div>

      </div>
    
   <% end %>
</section>