<div class="section-recipe">
    <button class="food-btn">
       <%= link_to 'Add Recipe', new_recipe_path %>
    </button>

    <% @recipes.each do |recipe|%>
      <div class="container-recipe">
         <div class="recipe-item">
            <p> <%=link_to recipe.name, recipe_path(recipe.id)%></p>
            <%= button_to 'Remove', recipe, method: :delete %>
         </div>
           
           <p class="recipe-text"><%= recipe.description%></p>
      </div>

    <% end %>
<div>