/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 2px;
    padding: 2px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.section-recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-recipe {
    border: 1px solid gray;
    width: 35%;
    padding: 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.recipe-item {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.add-food-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.food-form {
   display: flex;
   flex-direction: column;
   row-gap: 0.5rem;
}

.private-public-change {
    display: flex;
    flex-direction: column;
    padding-left: 250px;
}

.main-div {
    align-items: center;
}


/* Nav Menu styles */

.navigation-menu {
    background-color: #f8f8f8;
    padding: 10px;
    padding-left: 90px;
  }
  
  .navigation-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navigation-menu ul li {
    display: inline-block;
  }
  
  .navigation-menu ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
  }
  
  .navigation-menu ul li a:hover {
    background-color: #333;
    color: #fff;
  }
  